*{
    border:  0;
    margin:  0;
    padding: 0;
}

article, footer, header, nav, section{
    display: block;
}

body{
    background: #212121 url(../img/fondo.png);
    color:#fff;
    font-size: 1em;
}

p#mgrande{
    font-size: 10em;
}


a{
    color: #57ABBB;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: #f60;
}

form {
    width: 100%
}

form div{
    margin: 0.5em;
}

img{
    max-width: 100%;
}

input[type="email"], input[type="text"], textarea{
    background: #eee;
    border-radius: 0.25em;
    color: #f60;
    font-size: 1em;
    padding: 0.25em;
    width: 95%;
}

input[type="submit"], input[type="button"]{
    background: #f60;
    border-radius: 0.25em;
    color: #500;
    font-size: 1em;
    padding: 0.25em;
}

textarea{
    resize: none;
}

header, section#contenido, footer{
    background: #FFF url(../img/fondo-inter.jpg);
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
}

header h1,nav{
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
} 

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    padding: 0.1em;
    vertical-align: top;
}

section#principal, aside {
    background:#1E6381;
    border-radius: 0.5em;
    display: inline-block;
    margin: 0 auto;
    padding: 0.25em;
    vertical-align: top;
    width: 65%;
} 

aside{
    width: 30%;
}

header h1,nav{
    padding: 1em;
}

.fade{
    opacity: 1;
    filter:alpha(opacity=10);
    
}

table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}